:root {
    --verde-fondo: #368036;
    --verde-oscuro-perfil: #163016;
    --verde-carrusel: #203c20b0;
    --verde-hover: #205020aa;
    --verde-active: #103010aa;
    --verde-border: #8ca014;
    --verde-section: #000000;
    --verde-text: #4a6a4a;

    --blanco-text: #ffffff;

    --amarillo-background: #eeffdd;
    
    --gris-text: #cccccc;
    --gris-oscuro-text: #808080;
    --gris-separator: #80808080;

    --ambar: #ffbf00;

    --rojo-text: #e1a186;
    --rojo-button: #81432880;
    --rojo-warning: #ff1010;

    --marron-texto: #6c2e14de;

    --cyan-nav: #004176;

    --negro-text: #101010;
}

body {
    margin: 0px;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--amarillo-background);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--blanco-text);

    font-weight: bold;

    background-color: var(--verde-fondo);
}

.cuenta {
    display: flex;
    flex-direction: row;
    position: absolute;
    
    margin: 15px 20px;

    right: 0;
    top: 0;
}

.user-logo {
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--verde-text);
    background-color: var(--verde-oscuro-perfil);

    border-radius: 50%;

    font-weight: none;
    font-size: 35px;
}

.loginBoton {
    padding: 0.5rem 1rem 0.5rem 1rem;

    max-height: 1rem;

    border-radius: 15px;

    color: var(--blanco-text);
    text-decoration: none;

    background-color: var(--verde-hover);
    transition: background-color 0.5s ease;
}

.loginBoton:hover {
    background-color: var(--verde-active);
}

.logoSabia {
    display: flex;
    justify-content: center;
}

.logoSabia img {
    height: 10rem;
}

nav {
    min-width: 100vw;
        
    display: flex;

    justify-content: center;

    border-top: 1.5px solid var(--ambar);
    border-bottom: 1.5px solid var(--ambar);
}

nav a {
    margin: 8px 15px 8px 15px;
    padding: 8px 12px 8px 12px;

    color: var(--blanco-text);

    border: 1.5px solid transparent;
    border-radius: 25px;

    text-decoration: none;
    transition: background-color 0.5s ease, border 0.2s ease;
}

nav a:hover {
    background-color: var(--verde-hover);
}

nav a:focus {
    background-color: var(--verde-active);

    border: 1.5px solid var(--ambar);
}

noscript {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-items: center;

    min-height: 170px;

    background-color: var(--rojo-warning);

    color: var(--blanco-text);
    font-size: large;
    font-weight: bold;
}

.tituloCarrusel {
    text-align: center;
    color: var(--marron-texto);
}

.carrusel {
    display: flex;
    flex-direction: column;

    margin: 3rem 10rem 3rem 10rem;
    padding: 1rem 3rem 1rem 3rem;

    background-color: var(--verde-carrusel);
    border-radius: 25px;
}

.slides {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
}

.slides img {
    height: 50vh;
    border-radius: 25px;
    margin: 0rem 0.6rem;
}




































/* Contenido descartado

section {
    display: flex;
    flex-direction: row;
}

.barra {
    margin: 10px 5px;

    width: 100%;
    height: 0.4rem;
    border-radius: 99px;
    overflow: hidden;
    background-color: var(--gris-separator);
}

.relleno {
    height: 100%;
    width: 0;
    background: var(--ambar);
    animation: llenar 5s linear forwards;
}

@keyframes llenar {
    from { width: 0; }
    to   { width: 100%; }
}
*/
