:root {
    --verde-oscuro: #1b331b;
    --verde-hover: #30773025;
    --verde-active: #30773067;
    --verde-border: #8ca014;
    --verde-section: #000000;
    --verde-text: #4a6a4a;

    --blanco-text: #ffffff;

    --amarillo-background: #eeffdd;
    
    --gris-text: #cccccc;
    --gris-oscuro-text: #808080;
    --gris-separator: #80808080;

    --ambar: #ffbf00;

    --rojo-text: #e1a186;
    --rojo-button: #81432880;

    --cyan-nav: #004176;

    --negro-text: #101010;
}

body {
    margin: 0px;
    min-height: 100vh;

    background-color: var(--amarillo-background);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--blanco-text);

    background-color: #1b331b;
}
