:root{
    --rojo: #89241c;
    --rojo-fondo: #54100b;
    --rojo-warning-input: #ff0000;
    --rojo-warning-texto: #ff4d00;
    
    --verde-input: #a4ccb2;
    --verde-boton: #74a285;

    --blanco-texto: #ffffff;
    
    --negro-texto: #000000;

    --azul-fondo: #84aaff;
    --azul-oscuro: #067bbe;
}

/*Configuracion del body principal.*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: var(--azul-fondo);
}
/*Fin de la configuracion del body principal*/

/*Inicio de la configuracion del componente main.*/
main {
    margin: auto;
    background-color: var(--blanco-texto);
    border-radius: 30px;

    min-width: 75vw; /*vw = viewport width (ancho)*/
    min-height: 70vh; /*vh = viewport height (alto)*/

    display: flex;
    flex-direction: row;
}
/*Final de configuracion del main*/

/*Inicio de configuracion de los botones*/
button {
    border: none;
    border-radius: 15px;
    background-color: #067bbe;
}
/*Final de configuracion de los botones*/

/*Inicio de configuracion de noscript*/
noscript {
    margin-left: 10%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;

    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Final de configuracion de noscript*/



.containerVertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.containerHorizontal {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.containerLogin {
    align-items: center;
    justify-content: center;
}

.containerSabia {
    padding: 30px;
    max-height: 5vh;
    max-width: 20vw;
}

.imgSabia {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    display: block;
}

.iframeSignin {
    display: none;
}

