:root {
    --verde-oscuro: #1b331bcc;
    --verde-hover: #30773025;
    --verde-active: #30773067;
    --verde-border: #8ca014;
    --verde-section: #000000;
    --verde-text: #4a6a4a;

    --blanco-text: #ffffff;

    --cyan-background: #00ffff;

    --amarillo-background: #eeffdd;
    
    --gris-text: #cccccc;
    --gris-oscuro-text: #808080;
    --gris-separator: #80808080;

    --ambar: #ffbf00;

    --rojo-text: #e1a186;
    --rojo-button: #81432880;
}

body {
    margin: 0px;
    min-height: 100vh;

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("/media/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    backdrop-filter: blur(8px);
}

.logo {
    position: absolute;
    
    margin-left: 15px;
    margin-top: 15px;

    left: 0;
    top: 0;
}

.logo img {
    height: 100px;
    border-radius: 15px;
}

form {
    background-color: var(--verde-oscuro);

    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--gris-text);

    padding: 30px;

    gap: 5px;

    border-radius: 15px;
}

form p {
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
}

button {
    height: 30px;
    width: 100%;

    border: none;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

.input-box {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.input-box label {
    position: absolute;
    left: 10px;
    bottom: 4px;

    font-size: larger;
    color: var(--gris-oscuro-text);

    pointer-events: none;
    transition: all 0.3s ease;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    bottom: 26px;
    font-size: small;
    color: var(--gris-oscuro-text)
}

.input-box input {
    width: 250px;
    padding-top: 20px;

    background-color: transparent;

    color: var(--gris-text);
    font-size: large;

    border-bottom: 2px solid var(--ambar);
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-box input:focus,
.input-box:hover input {
    outline: none;
    border-radius: 5px;
    border-bottom: 2px solid var(--ambar);
}

.input-box img {
    position: absolute;
    right: 4px;
    bottom: 4px;

    transition: bottom 0.3s ease;
}

.input-box input:focus ~ img,
.input-box input:not(:placeholder-shown) ~ img {
    bottom: 26px;
}
