:root{
    --rojo: #89241c;
    --rojo-fondo: #54100b;
    --verde-input: #a4ccb2;
    --verde-boton: #74a285;
    --blanco-texto: #ffffff;
    --negro-texto: #000000;
    --azul-texto: #067bbe;
    --rojo-warning-input: #ff0000;
    --rojo-warning-texto: #ff4d00;
}

button {
    background-color: var(--verde-boton);

    font-size: 1vw;

    width: 8vw;
    height: 3vw;

    border-radius: 50px;
    border: none;

    margin-top: 20px;
}

/*Generado por IA (claude) para login.css , pero reutilizado y modificado aqui*/
/*Seccion: texto movible*/
/*INFO: Hace que al momento de tener el focus en el input, el texto del interior se mueva a la parte superior (facha)*/
.container {
    position: relative;
    max-width: 340px;
}

.container input {
    width: 5vw;
    height: 44px;
    min-width: 20vw;
    min-height: 6vh;
    padding: 4 14px;

    background: transparent;
    border: 1px solid;
    border-color: var(--negro-texto);
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
}

.container label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 4px;
    color: var(--negro-texto);
    font-size: 15px;
    font-family: sans-serif;
    pointer-events: none;
    transition: all 0.30s ease;
    background: transparent;
}

/* Cuando está enfocado O ya tiene contenido, sube el label */
.container input:focus + label,
.container input:not(:placeholder-shown) + label{
    top: 0;
    font-size: 12px;
    color: #ffffff;
    background: var(--rojo-fondo); /* debe coincidir con el fondo detrás del label */
    border-radius: 5px;
}
/*Fin text movible*/